@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#242a31;
}

.progress-container {
  background-color: #303841;
  border-radius: 8px;
  padding: 3px;
  margin: 5px;
}
  
.progress-bar {
height: 20px;
border-radius: 8px;
text-align: center;
line-height: 20px;
color: white;
font-weight: bold;
}

.hp { background-color: #ff0000; }
.attack { background-color: #f08030; }
.defense { background-color: #f8d030; }
.specialattack { background-color: #6890f0; }
.specialdefense { background-color: #78c850; }
.speed { background-color: #f85888; }